/* Genel Stiller */
body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc; /* Açık gri */
    color: #333;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

/* Koyu Tema */
.dark-theme {
    background-color: #222; /* Koyu gri */
    color: #f0f0f0;
}

/* Menü */
.menu {
    margin-top: 50px;
}

/* Buton Stilleri */
.game-btn {
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #76c7c0; /* Glacier rengi */
    color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Parlama Efekti */
.game-btn::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 80%;
    height: 6px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease-in-out;
}

/* Hover Efektleri */
.game-btn:hover {
    background-color: #58a399; /* Yeşilimsi Glacier */
}

.game-btn:hover::before {
    transform: translateX(-50%) scaleX(1);
}

/* Tema Değiştirme Butonu */
#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px;
    font-size: 30px; /* Büyütüldü */
    cursor: pointer;
    border: none;
    background: none;
}
